
## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# fastlane
*.env
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

## Playgrounds
*.xctimeline
*.xcworkspace

# Swift Package Manager
.build/
.swiftpm

## User settings
xcuserdata/
